.root {
  display: grid;
  position: relative;
  gap: 16px;
  grid-template-columns: 1fr 2fr;
}

.noVariablesRoot {
  display: grid;
  position: relative;
  min-height: 160px;
}

.result {
  background: #eeeeee;
  font-size: rem(12px);
  padding: 4px 8px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  min-height: 160px;
  max-height: 240px;
  overflow-y: auto;
}

.height100 {
  height: 100%;
}

.menuButton {
  position: absolute;
  bottom: 8px;
  right: 8px;
  opacity: 0.5;
}